@import "tailwindcss";

:root {
  --background: #eff2f5;
  --foreground: #171717;
  --sidebar-bg: #ffffff;
  --header-bg: #2e0f59;
  /* IndiaMart Purple approx */
  --primary: #2e0f59;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}